@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Fira+Sans+Condensed:wght@200&family=Outfit&display=swap');



html {
    box-sizing: border-box;
    font-size: 62.5%;  /*1 rem = 10px*/ 

}



*, *:before, *:after {
    box-sizing: inherit;  /*hereda las propiedades de su padre*/
    text-transform: capitalize;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: italic;
}
/*CONTENEDOR PRINCIPAL*/





.encabezado{

    width: 100%;
    max-width: 100%;
    height: 5rem;
    background-color: #212529;
    margin-bottom: 5rem;
    flex-shrink: 0;

}
.navbar{

    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.navbar-nav{
    float: top right;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.icon-carrito{
    
    cursor: pointer;
}



.contenedor-principal{
    max-width: 100vw;
}

.contenedor-grid{
    margin: 5rem ;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: auto;
    row-gap: 3.8rem;
    column-gap: .8rem;
    
    max-width: 100%;
}

@media (max-width: 768px) {
    .contenedor-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    .tarjeta{
        max-width: 100%;
    }
    .imagen-tarjeta{
        padding: 8rem;

        max-width: 100%;
    }
}




/*tarjetas*/

.tarjeta{
    border: .1rem dotted rgba(0,0,0,.1);
    height: 40rem;
    max-width: auto;
    padding: .2rem;
    border-radius: .5rem;
    
    
    
    
}
.imagen-tarjeta{
    
    width: 100%;
    max-width: 100%;
    height: 50%;
    max-height: 50%;
    padding:3rem;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.5s ease;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}
.imagen-tarjeta:hover{

    transform: scale(1.1);

}

.tarjeta-cuerpo{
    width: 100%;
    max-width: 100%;
    height: 50%;
    max-height: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.2rem ;

}

.card-text.desc,.card-text.precio,.card-text.cant{
    text-align: center;
    
}

.agregarCarrito{
    transform: scale(1);
    transition: all 0.3s ease-in-out;


}

.agregarCarrito:active{
    transform: scale(.97);
}


/* modal de productos en el carrito*/


.modal-contenedor{

    display: flex;
    flex-flow: row nowrap;
    height: 10rem;
    width: 100%;
   
}



.modal-imagen{
    height: 100%;
    max-height: 100%;
    width: 50%;
    max-width: 50%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.imagen-carrito{
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: .5rem 0;

    /* esto lo use para meter la imagen del producto adentro de mi modal-imagen*/

    object-fit: contain;
}

.modal-tarjeta-cuerpo{

    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 50%;
    justify-content: space-between;
    padding: .9rem;
}


.modal-p{
    text-align: center;
    margin: 0;
}
.boton-modal-eliminar{
    width: 50%;
    margin: 0 auto;
}


/*procesar compra*/


.imagen-procesarCompra{
    max-width: 2.5rem;
}


